<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blog.user_id %>
  </p>

  <p>
    <strong>Private:</strong>
    <%=blog.private %>
  </p>

</div>
